[submodule "bionic"]
	path = bionic
	url = git://github.com/android/platform_bionic.git
[submodule "build"]
	path = build
	url = git://github.com/zeldin/platform_build.git
[submodule "dalvik"]
	path = dalvik
	url = git://github.com/android/platform_dalvik.git
[submodule "development"]
	path = development
	url = git://github.com/android/platform_development.git
[submodule "external/expat"]
	path = external/expat
	url = git://github.com/android/platform_external_expat.git
[submodule "external/libpng"]
	path = external/libpng
	url = git://github.com/android/platform_external_libpng.git
[submodule "external/libselinux"]
	path = external/libselinux
	url = https://android.googlesource.com/platform/external/libselinux.git
[submodule "external/openssl"]
	path = external/openssl
	url = git://github.com/android/platform_external_openssl.git
[submodule "external/safe-iop"]
	path = external/safe-iop
	url = git://github.com/android/platform_external_safe-iop.git
[submodule "external/sqlite"]
	path = external/sqlite
	url = git://github.com/android/platform_external_sqlite.git
[submodule "external/zlib"]
	path = external/zlib
	url = git://github.com/android/platform_external_zlib.git
[submodule "frameworks/native"]
	path = frameworks/native
	url = https://android.googlesource.com/platform/frameworks/native.git
[submodule "libnativehelper"]
	path = libnativehelper
	url = https://android.googlesource.com/platform/libnativehelper.git
[submodule "prebuilts/tools"]
	path = prebuilts/tools
	url = git://github.com/zeldin/platform_prebuilts_tools.git
[submodule "sdk"]
	path = sdk
	url = git://github.com/zeldin/platform_sdk.git
[submodule "system/extras"]
	path = system/extras
	url = https://android.googlesource.com/platform/system/extras.git
[submodule "external/qemu"]
	path = external/qemu
	url = git://github.com/zeldin/platform_external_qemu.git
[submodule "frameworks/base"]
	path = frameworks/base
	url = git://github.com/zeldin/platform_frameworks_base.git
[submodule "system/core"]
	path = system/core
	url = git://github.com/zeldin/platform_system_core.git
[submodule "prebuilts/devtools"]
	path = prebuilts/devtools
	url = https://android.googlesource.com/platform/prebuilts/devtools
[submodule "external/ant-glob"]
	path = external/ant-glob
	url = https://android.googlesource.com/platform/external/ant-glob.git
[submodule "external/eclipse-windowbuilder"]
	path = external/eclipse-windowbuilder
	url = https://android.googlesource.com/platform/external/eclipse-windowbuilder.git
[submodule "external/easymock"]
	path = external/easymock
	url = https://android.googlesource.com/platform/external/easymock.git
[submodule "prebuilts/sdk"]
	path = prebuilts/sdk
	url = https://android.googlesource.com/platform/prebuilts/sdk.git
[submodule "external/junit"]
	path = external/junit
	url = https://android.googlesource.com/platform/external/junit.git
[submodule "external/hamcrest"]
	path = external/hamcrest
	url = https://android.googlesource.com/platform/external/hamcrest.git
[submodule "prebuilts/misc"]
	path = prebuilts/misc
	url = https://android.googlesource.com/platform/prebuilts/misc.git
[submodule "libcore"]
	path = libcore
	url = https://android.googlesource.com/platform/libcore.git
[submodule "external/proguard"]
	path = external/proguard
	url = https://android.googlesource.com/platform/external/proguard.git
[submodule "frameworks/support"]
	path = frameworks/support
	url = https://android.googlesource.com/platform/frameworks/support.git
[submodule "frameworks/opt/telephony"]
	path = frameworks/opt/telephony
	url = https://android.googlesource.com/platform/frameworks/opt/telephony.git
[submodule "external/stlport"]
	path = external/stlport
	url = https://android.googlesource.com/platform/external/stlport.git
[submodule "external/apache-http"]
	path = external/apache-http
	url = https://android.googlesource.com/platform/external/apache-http.git
[submodule "external/tagsoup"]
	path = external/tagsoup
	url = https://android.googlesource.com/platform/external/tagsoup.git
[submodule "external/nist-sip"]
	path = external/nist-sip
	url = https://android.googlesource.com/platform/external/nist-sip.git
[submodule "external/libphonenumber"]
	path = external/libphonenumber
	url = https://android.googlesource.com/platform/external/libphonenumber.git
[submodule "external/bouncycastle"]
	path = external/bouncycastle
	url = https://android.googlesource.com/platform/external/bouncycastle.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://android.googlesource.com/platform/external/protobuf.git
[submodule "external/liblzf"]
	path = external/liblzf
	url = https://android.googlesource.com/platform/external/liblzf.git
[submodule "external/eclipse-basebuilder"]
	path = external/eclipse-basebuilder
	url = https://android.googlesource.com/platform/external/eclipse-basebuilder.git
